body, html{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
	color: #555;
	overflow: hidden;
}
#main{
	width: 810px;
	height: 100%;
	margin: 0 auto;
}
header{
	border-bottom: 1px solid #555;
	padding: 10px;
	z-index: 10;
}
header h1{
	padding: 0;
	margin: 0;
}
footer{
	position: fixed;
	bottom: 0;
	border-top: 1px solid #555;
	background-color: white;
	text-align: center;
	padding: 5px;
	width: 100%;
	z-index: 10;
	font-size: 0.8em;
}
#hosts, #ports{
	width: 300px;
}
#lines{
	width: 200px;
}
#hosts, #lines, #ports{
	float: left;
	height: 100%;
}
#lines{
	background-color: #f9f9f9;
}
#hosts div, #ports div{
	padding: 10px;
	overflow: hidden;
	white-space:nowrap;
	background-repeat: no-repeat;
	font-size: 12px;
}
#hosts div{
	padding-right: 35px;
	text-align: right;
	transition: color 0.5s;
	background-image: url('images/computer.png');
	background-position: 270px;
}
#hosts div.hilite{
	color: #55f;
}
#ports div{
	padding-left: 30px;
	text-align: left;
	background-image: url('images/port.png');
	background-repeat: no-repeat;
	background-position: 10px;
}
div.data{
	position: absolute;
	font-size: 3em;
	white-space:nowrap;

	-webkit-animation-duration: 10s;
	-webkit-animation-name: slideAcross;
	-moz-animation-duration: 10s;
	-moz-animation-name: slideAcross;
	transition: opacity 10s;
}
div.port80{
	color: #00f;
}
@-webkit-keyframes slideAcross{
  from {
    left: 100%;
    opacity: 0.5;
  }
 
  to {
    left: -100%;
    opacity: 0.0;
  }
}
@-moz-keyframes slideAcross{
  from {
    left: 100%;
    opacity: 0.5;
  }
 
  to {
    left: -100%;
    opacity: 0.0;
  }
}
